<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lanyaTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4759D7861F2AEF6F0082D029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4759D79F1F2AEF700082D029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4759D7AA1F2AEF700082D029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
